// $black: #313131;
$black: #222;
$white: white;
$red: #F15C5C;

$player-height: 40px;
$sidebar-width: 50px;

@import 'sass/home';
@import 'sass/map';
@import 'sass/map-modal';
@import 'sass/navbar';
@import 'sass/player';
@import 'sass/playlist';
@import 'sass/show';
@import 'sass/show-box';
@import 'sass/shows';
@import 'sass/sidebar';
@import 'sass/song-box';
@import 'sass/songs';


* {
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  color: $black;
  // font-family: 'Oswald', sans-serif;

  line-height: 1;
  font-family: simplon-norm,helvetica,sans-serif;
  font-size: 12px;
}

// nav {
//   position: fixed;
//   height: 50px;
//   width: 100%;
//   z-index: 1;
// }

sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100%;
  background: $white;
  border-right: 1px solid rgba(0,0,0,0.1);
  z-index: 2;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  // padding: 50px 0 40px;
  // padding: 0 0 40px 50px;
  padding: 0 0 0 50px;
  & > * {
    flex: 1;
  }
}

.player-container {
  position: fixed;
  bottom: 0;
  height: $player-height;
  width: 100%;
  z-index: 1;
}

playlist {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}



// Misc Stuff
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




// a {
//   color: $black;

//   &:after {
//     content: "";
//     display: block;
//     width: 0;
//     height: 2px;
//     background: $black;
//     // background: $red;
//     transition: width .3s;
//   }

//   &:hover {
//     color: $black;
//   }

//   &:hover, &:active, &:focus {
//     text-decoration: none;
//   }

//   &:hover:after {
//     width: 100%;
//   }

// }