$black: #313131;

@import 'sass/home';
@import 'sass/map';
@import 'sass/map-modal';
@import 'sass/navbar';
@import 'sass/player';
@import 'sass/show';
@import 'sass/show-box';
@import 'sass/shows';
@import 'sass/song-box';
@import 'sass/songs';


body {
  height: 100vh;
  font-family: 'Oswald', sans-serif;
  color: $black;
}

nav {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 0 40px;
  & > * {
    flex: 1;
  }
}

.player-container {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
}




a {
  color: $black;

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: $black;
    transition: width .3s;
  }

  &:hover {
    color: $black;
    text-decoration: none;
  }

  &:hover:after {
    width: 100%;
  }

}