    <div id="tabs" ng-controller="ProfileCtrl">
        <ul>
            <button ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</button>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="shows.tpl.html">
        <div id="viewShows">
            <h1>All Your Shows</h1>
            
            <table>
    <tr class='deets' ng-repeat="show in shows">
            <td>{{show.venuename}}</td>
            <td>{{show.nicedate}}</td>
            </tr>
            </table>
        </div>
    </script>
    
    <script type="text/ng-template" id="two.tpl.html">
        <div id="viewTwo">
            <h1>All Your Songs</h1>
        <label class='searchBar'><input placeholder='Search for Songs'class='searchBar' ng-model="searchText"></label>
            <span ng-repeat="song in allUserSongs  | filter:searchText">
            <h1 class='line'>{{song[0]}}</h1>:<h2 class='line'>{{song[1]}}</h2>
            <br>
            </span>
        </div>
    </script>
    </script>