.songs-state {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 80px;
  & > * {
    flex: 1 1 auto;
    background: #F5F7F0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .form {
    flex: 0;
    display: flex;
    justify-content: center;
    border-top: 12px solid #6A6A68;
    margin: 20px 0;

    md-input-container {
      width: 300px;
      margin: 14px 0 0 0;
      input, label {
        font-family: Roboto,"Helvetica Neue",sans-serif;
        font-weight: 400;
        color: #404040 !important;
      }
      input {
        border-bottom: 2px solid #F25F5C !important;
      }

      &.md-input-focused, &.md-input-has-value {
        label {
          display: none;
        }
      }
    }
  }

  md-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    & > * {
      flex: 1;
    }

    .md-subheader {
      flex: 0;
      height: 36px;
      background: #6A6A68;
      .md-subheader-inner {
        padding: 10px;
        font-weight: 600;
        text-align: center;
        color: #F5F7F0;
      }
    }

    a {
      margin: 0;
    }

    md-list-item, .md-list-item-inner {
      min-height: 36px;
    }

  }

}