<nav>
  <div class="container">

    <div class="outer navbar-group" ng-hide="$state.includes('home')">
      <a ui-sref="shows" ui-sref-active="active">Shows</a>
      <a ui-sref="songs" ui-sref-active="active">Songs</a>
      <a ui-sref="tours" ui-sref-active="active">Tours</a>
    </div>

    <div class="title navbar-group">
      <a ui-sref="home">Tour Track</a>
    </div>

    <div class="outer navbar-group" ng-hide="$state.includes('home')">
      <a ui-sref="profile" ui-sref-active="active">Profile</a>
      <a>Logout</a>
    </div>

  </div>
</nav>