<div class="player">Player</div>

<!-- <div class='player-container' layout="row" layout-align="space-around center">

  <div flex='33' class='controls' layout="row" layout-align="end center">
    <md-button ng-click='prev()' class="md-icon-button">
      <md-icon class="material-icons">skip_previous</md-icon>
    </md-button>
    <md-button class="md-icon-button">
      <md-icon ng-click='resume()' ng-hide='isPlaying' class="material-icons">play_arrow</md-icon>
      <md-icon ng-click='pause()' ng-show='isPlaying' class="material-icons">pause</md-icon>
    </md-button>
    <md-button ng-click='next()' class="md-icon-button">
      <md-icon class="material-icons">skip_next</md-icon>
    </md-button>
    <md-slider-container>
      <md-slider md-discrete="" min='0' max='100' ng-model='volume' aria-label="volumeSlider"></md-slider>
    </md-slider-container>
  </div>

  <div flex='33' class='player-box' layout="column" layout-align="end center">
    <div flex='100' layout="row" layout-align="space-between center">

      <div layout="row" layout-align="start end">
        <md-button class="md-icon-button">
          <md-icon class="material-icons">shuffle</md-icon>
        </md-button>
      </div>

      <div layout="row" layout-align="center end">
        <strong class='song-title'>{{ currentSong.title }}</strong>
      </div>

      <div layout="row" layout-align="end center">
        <div class="dropup">
          <md-button class="dropdown-toggle" type="button" data-toggle="dropdown">
            <md-icon class="material-icons">list</md-icon>
          </md-button>
          <div class="dropdown-menu">
            <div class='up-next-list'>
              <strong>Up Next: <span ng-show='upNextList.length'>{{ upNextList.length }} songs</span></strong>
              <div class="dropdown-divider"></div>
              <span ng-hide='upNextList.length'>No upcoming songs.</span>
              <div ng-repeat='song in upNextList track by $index' class='song-item'>
                <strong>{{ song.title }}</strong>
                <small>{{ song.date | date:'MM/dd/yyyy' }} {{ song.venue_name }} {{ song.location }}</small>
              </div>
            </div>
            <div ng-show='showSongsList.length' class='show-songs-list'>
              <strong>Back to:</strong>
              <div class="dropdown-divider"></div>
              <div ng-repeat='song in showSongsList track by $index' class='song-item'>
                <strong>{{ song.title }}</strong>
                <small>{{ song.date | date:'MM/dd/yyyy' }} {{ song.venue_name }} {{ song.location }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div flex='100' layout="row" layout-align="space-between start">
      <p class='time'>{{ (currentTime || 0) | secondsToDate | date:'m:ss'}}</p>
      <div ng-show='currentSong' class='current-song-stats'>
        <span>{{ currentSong.date | date:'MM/dd/yyyy' }}</span>
        <span>{{ currentSong.venue_name }},</span>
        <span>{{ currentSong.location }}</span>
      </div>
      <p class='time'>-{{ duration - currentTime | secondsToDate | date:'m:ss'}}</p>
    </div>

    <div class='progress-bar-container' layout="row" layout-align="center center">
      <md-progress-linear class='progress-bar' md-mode="determinate" value="{{ getProgress() }}"></md-progress-linear>
    </div>
  </div>

  <div flex='33'></div>

</div> -->