<div class='player-container' layout="row" layout-align="center center">
  <audio></audio>
  <md-button ng-click='prev()' class="md-icon-button">
    <md-icon class="material-icons">skip_previous</md-icon>
  </md-button>
  <md-button class="md-icon-button">
    <md-icon ng-click='resume()' ng-hide='isPlaying' class="material-icons">play_circle_outline</md-icon>
    <md-icon ng-click='pause()' ng-show='isPlaying' class="material-icons">pause_circle_outline</md-icon>
  </md-button>
  <md-button ng-click='next()' class="md-icon-button">
    <md-icon class="material-icons">skip_next</md-icon>
  </md-button>

  <span ng-show='isPlaying && currentTime' >{{ currentTime | secondsToDate | date:'m:ss'}}</span>
  <md-progress-linear class='song-progress' md-mode="determinate" value="{{ getProgress() }}"></md-progress-linear>
  <span ng-show='isPlaying && duration' >{{ duration - currentTime | secondsToDate | date:'m:ss'}}</span>

  <md-slider-container>
    <md-slider min='0' max='100' ng-model='volume'></md-slider>
  </md-slider-container>

  <div class="dropup">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
      PLAYLIST YO
    </button>
    <div class="dropdown-menu">
      <div ng-repeat='song in playlist track by $index'>
        <span>{{ song.title }}</span>
        <span>{{ song.date | date:'MM/dd/yyyy' }}</span>
      </div>
    </div>
  </div>

</div>