.infoViewer {
	z-index: 200;  
    position: relative;
	float: right;
	background-color: white;
	max-width: 25%;
	width: 400px;
	height: 600px;
	// display: block;
	margin-right: 10px;
	padding: 5px;
	overflow-y: scroll;
}