<div ng-controller='ShowTrackerCtrl'>
	<shows-per-month shows-per-month='showsPerMonth'></shows-per-month>
	<map shows='showsWithVenueInfo'
		progress='progress'
		current-show='currentShow'
		filtered-shows='filteredShows'></map>
	<!-- progress: {{progress}} -->
	<div slider config="sliderConfig"
		model="progress"
		shows='showsWithVenueInfo'
		class="cdbl-slider"></div>
	<info-viewer shows='shows'
		tours='tours'
		years='years'
		current-show='currentShow'
		filtered-shows='filteredShows'></info-viewer>
</div>