div{
	.d3map{
		margin-top: 0 !important;

	}

}

.d3map {
	#statesvg {
		margin-left: 12.5%;
		margin-right: 12.5%;

	}
	.state{
		fill: none;
		stroke: #a9a9a9;
		stroke-width: 1;
	}
	.state:hover{
		fill-opacity:0.5;
	}
	#tooltip {   
		position: absolute;           
		text-align: center;
		padding: 20px;             
		margin: 10px;
		font: 12px sans-serif;        
		background: lightsteelblue;   
		border: 1px;      
		border-radius: 2px;           
		pointer-events: none;         
	}
	#tooltip h4{
		margin:0;
		font-size:14px;
	}
	#tooltip{
		background:rgba(0,0,0,0.9);
		border:1px solid grey;
		border-radius:5px;
		font-size:12px;
		width:250px;
		padding:4px;
		color:white;
		opacity:0;
	}
	#tooltip table{
		table-layout:fixed;
	}
	#tooltip tr.venueTitle > th {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#tooltip tr td{
		padding:2px 2px;
		margin:0;
	}
	#tooltip tr th{
		padding:2px 1px;
		margin:0;
		text-align: center;
	}

}