.container {
  display: center;
  @include outer-container;
  .child {
    height: 200px;
  }
 
  .left {
    @include span-columns(6);
  }

  .right {
    @include span-columns(5);

    .setlist {
      background-color: rgba(0, 10, 30, 0.1);
      font-size: 10px;
    }
  }
  max-width: 100%;
  width: 100%;
}


#tabs {
  margin-left: 20%;
  margin-right: 20%;
  button {
    border-top:1px solid black;
    border-left:1px solid black;
    border-right:1px solid black;
  }
}

#mainView {
  border: 1px solid black;
  border-radius: 5px;
  clear: both;
  padding: 0 1em;
  height: 550px;
  overflow: scroll;
  background-color: #dcdcdc;
  text-align: center;  

}

.active {
    background-color: #FFF;
    color: #000;
}