.container {
  @include outer-container;

  .child {
    height: 200px;
  }
 
  .left {
    @include span-columns(6);
  }
 
  .right {
    @include span-columns(5);

    .setlist {
      background-color: rgba(0, 10, 30, 0.1);
      font-size: 10px;
    }
  }
}