/* remember to set all global css and variables before importing */

$black: #dcdcdc;

body {
  background-color: $black;
}

/* import boubon and neat */
@import "../lib/bourbon/app/assets/stylesheets/bourbon";
@import "../lib/bitters/app/assets/stylesheets/grid-settings";
@import "../lib/bitters/app/assets/stylesheets/base";
@import "../lib/neat/app/assets/stylesheets/neat";

/* import partials */
@import 'bar-graph';
@import 'd3-map';
@import 'layout-tree';
@import 'partial1';
@import 'partial2';
@import 'progressMap/map';
@import 'progressMap/showsPanel';
@import 'progressMap/showsPerMonthGraph';
@import 'progressMap/slider';
@import 'progressMap/tourOrShowPanel';
@import 'progressMap/toursPanel';
@import 'navbar';

/* set up grid structure */
$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;
 
// Change the grid settings
$max-width: em(1024, 10);
 
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 3);