html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body > .container {
  height: 100%;
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 10px;
  overflow: auto;
  
  border: 1px solid black;
  background-image: url('assets/background-texture.jpg');

  display: flex;
  flex-direction: column;
  z-index: 0;

  ui-view {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
}

#masterUI {
  transition: all 1s;
}

#mainUI {
  transition: all 1s;
}

#mainUI.ng-enter, #mainUI.ng-enter-active {
  background: purple;
}


@import 'map';
@import 'player';
@import 'profile';
@import 'show';
@import 'shows';
@import 'song';
@import 'songs';
@import 'ui-misc';