.map-container {
  position: relative;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  &:before {
    content: '';
    background: url('http://api.thumbr.it/whitenoise-361x370.png?');
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    opacity: 0.2;
  }

  &:after {
    -webkit-transition: background 1s ease-in;
    -moz-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    transition: background 1s ease-in;

    content: '';
    background: rgba(67,67,66,0.5);
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
  }

  #map {
    height: 100%;
    width: 100%;
    z-index: -1;
    background: white;
  }

  .md-button {
    height: 70px;
    width: 70px;
    line-height: 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
    z-index: 1;
    md-icon {
      transform: translate(-30%, -75%);
      font-size: 3em;
      color: #DCDDD8;
    }
  }
}

.fullscreen:after {
  background: rgba(67,67,66,0.1);
}