.mapLeft {
$primary: #DCDCDB;
$secondary: #B6B6B5;

  display: flex;
  & > * {
    flex: 1 1 auto;
    display: flex;
    max-width: 50%;
    justify-content: center;
    background: $primary;
    background: -webkit-radial-gradient($primary , $secondary);
    background: -o-radial-gradient($primary, $secondary);
    background: -moz-radial-gradient($primary, $secondary);
    background: radial-gradient($primary , $secondary);

    &:last-child {
      z-index: 1;
      box-shadow: 0px 0px 15px 2px #767676;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        background: url('assets/noise.png');
        opacity: 0.2;
        z-index: -1;
      }
    }

  }
}
