.mapLeft {
  $primary: #E8EAE4;
  $secondary: #DBDDD8;

  display: flex;
  & > * {
    flex: 1 1 auto;
    display: flex;
    max-width: 50%;
    justify-content: center;
    background: $primary;
    background: -webkit-radial-gradient($primary , $secondary);
    background: -o-radial-gradient($primary, $secondary);
    background: -moz-radial-gradient($primary, $secondary);
    background: radial-gradient($primary , $secondary);

    &:last-child {
      z-index: 1;
      box-shadow: 0px 0px 15px 2px #767676;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        background: url('assets/noise.png');
        opacity: 0.5;
        z-index: -1;
      }
    }
  }

  .mapboxgl-popup {
    &.mapboxgl-popup-anchor-bottom, &.mapboxgl-popup-anchor-bottom-left, &.mapboxgl-popup-anchor-bottom-right { .mapboxgl-popup-tip { border-top-color: #6A6A68; }}
    &.mapboxgl-popup-anchor-top, &.mapboxgl-popup-anchor-top-left, &.mapboxgl-popup-anchor-top-right { .mapboxgl-popup-tip { border-bottom-color: #6A6A68; }}
    &.mapboxgl-popup-anchor-left { .mapboxgl-popup-tip { border-right-color: #6A6A68; }}
    &.mapboxgl-popup-anchor-right { .mapboxgl-popup-tip { border-left-color: #6A6A68; }}
    .mapboxgl-popup-content {
      background: #6A6A68;
      color: white;
      .map-popup-wrapper {
        max-width: 160px;
        display: flex;
        flex-direction: column;
        & > * { flex: 1; }
        
        strong {
          font-size: 13px;
          text-align: center;
          line-height: 1.4em;
        }

        .venue-info {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          small {
            font-size: 95%;
          }
        }

        ul {
          max-height: 198px;
          overflow-y: scroll;
          padding: 0;
          margin: 0;
          background: #F5F7F0;
          color: #373736;
          li {
            padding: 1px 6px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &:nth-of-type(even) {
              background: #DBDDD8;
            }
            &:hover, &:nth-of-type(even):hover {
              background: #C2C3BF;
            }
            p {
              margin: 0;
            }
          }
        }
      }
    }

  }

}
