nav {
  background: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .container {
    height: 100%;
    display: flex;

    & > * {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0.85;
    }

    .outer {
      flex: 0;
    }
  }

  .navbar-group > * {
    padding: 0 10px;
    cursor: pointer;

    &:not(:last-child) {
      border-right: 1px solid rgba(0,0,0,0.25);
    }

    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: black;
      transition: width .3s;
    }

    &:hover:after {
      width: 100%;
    }

  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }

}