.navbar {
  background: #434342;
  border: none;

  -moz-box-shadow: inset 0 0 15px #333332;
  -webkit-box-shadow: inset 0 0 15px #333332;
  box-shadow: inset 0 0 15px #333332;

  .container-fluid {
    padding: 0 30px;
  }

  .navbar-header > a, .nav > li > a {
    color: #DCDDD8;
  }

  .navbar-nav > .active {
    a, a:focus, a:hover {
      background: #D74B4B;
      color: #DCDDD8;
    }
  }

  .fullscreen-btn {
    margin-top: 5px;
    md-icon {
      color: #DCDDD8;
    }
  }

}