.navbar {
  background: #50514F;
  border: none;

  -moz-box-shadow: inset 0 0 10px #373736;
  -webkit-box-shadow: inset 0 0 10px #373736;
  box-shadow: inset 0 0 10px #373736;

  .container-fluid {
    padding: 0 30px;
  }

  .navbar-header > a, .nav > li > a {
    color: #F5F7F0;
  }

  .navbar-nav > .active {
    a, a:focus, a:hover {
      background: #F25F5C;
      color: #F5F7F0;
    }
  }

  .fullscreen-btn {
    margin-top: 5px;
    md-icon {
      color: #F5F7F0;
    }
  }

}