.player-container {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: tomato;
  z-index: 1;

  .md-button {
    height: 36px;
    width: 36px;
    line-height: 36px;
    padding: 0;
    outline: none;
    md-icon {
      font-size: 2.3rem;
    }
  }

  md-progress-linear {
    width: 240px;
  }
}