.player-container {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  // background: rgba(51,51,50,0.8);
  background: #434342;
  z-index: 1;

  .player-box {
    height: 100%;
    width: 600px;
    // background: rgba(220,221,216,0.25);
    background: #5D5D5B;
  }

  .md-button {
    height: 36px;
    width: 36px;
    line-height: 36px;
    padding: 0;
    outline: none;
    md-icon {
      font-size: 2.3rem;
    }
  }

  .dropdown-menu {
    width: 300px;
  }

  .progress-bar-container {
    width: 100%;
    md-progress-linear {
      width: 100%;
      // background: #DCDDD8;
      .md-container {
        background: #DCDDD8;
      }
      .md-bar {
        background: #D74B4B;
      }
    }
  }


  md-slider-container {
    width: 50px;
    margin: 0 10px;
  }
}