.profile-state {
  $primary: #E8EAE4;
  $secondary: #DBDDD8;
  display: flex;
  flex-direction: column;
  background: $primary;
  background: -webkit-radial-gradient($primary , $secondary);
  background: -o-radial-gradient($primary, $secondary);
  background: -moz-radial-gradient($primary, $secondary);
  background: radial-gradient($primary , $secondary);
  & > * {
    flex: 1;
  }

  .profile-map-container {
    display: flex;
    min-height: 360px;
    max-height: 360px;
    // box-shadow: 0px 0px 15px 2px #767676;
    & > * {
      flex: 1;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px 2px #767676;
    z-index: 1;
    & > * {
      flex: 1;
    }
  }

  .content {
    align-self: center;
    width: 1020px;
    display: flex;
    & > * { // Column
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 16px 8px;
      & > * { // Row
        flex: 1;
        background: #F5F7F0;
        border-top: 12px solid #6A6A68;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .user-stats {
    flex: 0;
  }

  md-list {
    overflow-y: scroll;
    md-list-item {
      min-height: 36px;
    }
    p {
      margin: 0;
    }
  }

}