.show-box-container {
  display: flex !important;
  flex-direction: column;

  & > * {
    flex: 0 1 auto;
  }

  .show-info {
    display: flex;

    .show-date {
      height: 80px;
      width: 80px;
      border: 1px solid white;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .date {
        font-weight: 700;
        font-size: 36px;
      }

      .month, .year {
        margin: -8px;
        font-weight: 300;
      }
    }

    .show-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 10px;
      overflow: hidden;

      .venue {
        font-size: 28px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-weight: 700;
      }

      .tour, .location {
        font-weight: 300;
        margin: -5px 0;
      }

    }

  }

  .setlist {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & > * {
      flex: 0;
    }
  }

  .set {
    padding: 0 10px;
    font-weight: 300;
    font-size: 15px;
  }

  .set-num {
    margin-right: 5px;
  }

  .song {
    margin-right: 7px;
  }

}