.show-container {

  section {
    &.list {
      padding: 0;
    }
    &.setlist-time-flow {
      svg{ margin-bottom: -13px; }
    }
  }

  .no-padding {
    padding: 0;
  }

  md-list {
    max-height: 100%;
    md-list-item {
      min-height: 100%;
      padding: 0;
      .md-subheader {
        height: 48px;
        background: rgba(0,0,0,0.1);
      }
      .show-info {
        max-height: 30px;
        height: 30px;
        padding: 4px 16px;
        outline: none;
        .current-song-icon {
          color: #5D5D5B;
          font-size: 2rem;
          line-height: 1.25em;
          vertical-align: middle;
        }
        .md-button {
          width: 28px;
          min-width: 28px;
          margin-left: 10px;
          background: none;
        }
      }
    }
  }


}