.show-container {
  height: 100%;
  // background: lightblue;

  .navigation-buttons {
    // border: 1px solid black;
    position: fixed;
    width: 100%;
    top: 45%;
  }

  .container {
    // background: lightgrey;
    position: relative;
    margin-top: -120px;

  }

  md-list {
    border: 1px solid black;
    background: white;
  }

  md-list-item {
    min-height: 100%;
    padding: 4px 16px;
  }

  .map-container {
    transform: skewY(5deg);
    position: relative;
    #map {
      height: 400px;
      transform: skewY(-5deg);
      z-index: -1;
    }
    div.ribbon {
      height: 200px;
      width: 100%;
      background: white;
      position: absolute;
      bottom: -100px;
    }
    
  }







  table {
    width: 100%;
  }
}