.shows-container {

  .shows-search {
    height: 100%;
    width: 30%;
    position: fixed;
    text-transform: lowercase;

    ul {
      height: 400px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      white-space: nowrap;
      transform: translate(0, -50%);
      padding-left: 65px;
      overflow: scroll;
    }

    .show-item {
      color: $black;
      position: relative;
      margin-bottom: 15px;
      outline: none;
      
      &:before {
        content: attr(data-date);
        height: 100%;
        position: absolute;
        top: 0;
        color: $grey;
      }

      .location {
        height: 16px;
        padding-left: 40px;
      }

    }

    .active {
      margin-bottom: 5px;

      &:before {
        color: $black;
        line-height: 80px;
      }

      .location {
        height: 70px;
        font-size: 52px;
        font-weight: 700;
        letter-spacing: -3px;
      }

    }

  }



  .shows-list {
    width: 70%;
    float: right;

    li {
      height: 100vh;
    }

  }
}











// .shows-container {
//   display: flex;
//   flex-direction: column;

//   .top-container {
//     flex: 0 0 370px;
//     display: flex;
//     flex-direction: column;

//     map {
//       flex: 1;
//     }

//     #map {
//       height: 300px;
//       -webkit-filter: grayscale(100%);
//       filter: grayscale(100%);
//     }

//     .shows-search-bar {
//       flex: 0 0 50px;
//       background: $black;
//       width: 100%;
//       height: 50px;
//       z-index: 1;
//     }

//     .fix-search-bar {
//       position: fixed;
//       top: 50px;
//     }
//   }

//   .custom-container {
//     margin: 0 auto;
//     max-width: 70em;
//   }

//   .show-items {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: center;

//     .show-item {
//       margin: 15px;
//       padding: 15px;
//       flex: 1 1 300px;
//       display: flex;
//       flex-direction: column;
//       position: relative;
//       border: 1px solid $black;
//       color: $black;


//       &:after {
//         content: "";
//         padding-bottom: 100%; // THIS IS WHAT I'VE BEEN WAITING FOR
//       }
//     }

//     .show-box-container {
//       position: absolute;
//       height: calc(100% - 30px);
//       width: calc(100% - 30px);
//     }
//   }

// }