.shows-container {
  display: flex;
  flex-direction: column;

  .top-container {
    flex: 0 0 370px;
    display: flex;
    flex-direction: column;

    map {
      flex: 1;
    }

    #map {
      height: 300px;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .shows-search-bar {
      flex: 0 0 50px;
      // background: #332D28;
      // background: #272727;
      background: #313131;
      width: 100%;
      height: 50px;
      z-index: 1;
    }

    .fix-search-bar {
      position: fixed;
      top: 50px;
    }
  }

  .custom-container {
    margin: 0 auto;
    max-width: 70em;
  }

  .show-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .show-item {
      margin: 10px;
      padding: 10px;
      // background: tomato;
      flex: 1 1 300px;
      display: flex;
      flex-direction: column;
      position: relative;

      background: #313131;
      color: white;

      &:after {
        content: "";
        padding-bottom: 100%; // THIS IS WHAT I'VE BEEN WAITING FOR
      }
    }

    .show-box-container {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

}