.song-container {

  i.biggest-gap {
    font-size: 0.65em;
  }

  md-list-item {
    .current-song-icon {
      margin-left: -10px;
      margin-right: 5px;
      color: #5D5D5B;
      font-size: 2rem;
      line-height: 1.25em;
    }
    .md-list-item-text {
      width: 100%;
    }
    .md-button {
      width: 28px;
      min-width: 28px;
      margin-left: 10px;
      background: none;
    }
  }

}