<div class="shows-container">

  <div class="map-container">
    <map class="map"></map>
    <div class="search-bar">
      <select ng-model="currentShowYear">
        <option ng-repeat="year in showYears">{{year}}</option>
      </select>
    </div>
  </div>

  <div class="container" infinite-scroll="loadMoreShows()" infinite-scroll-distance="0">
    <div class="shows">
      <div ng-repeat="show in showList track by $index">
        <show-box class="show-box" show="show"></show-box>
      </div>
    </div>
  </div>
  
</div>