<div class="shows-container">

  <div class="map-container">
    <map class="map"></map>
    <div class="search-bar">
      <select ng-model="currentShowYear">
        <option ng-repeat="year in showYears">{{year}}</option>
      </select>
    </div>
  </div>

  <div class="container" infinite-scroll="loadMoreShows()" infinite-scroll-distance="2">
    <div class="shows-container">
      <div class="show-item" ng-repeat="show in showList">
        <show-box show="show"></show-box>
      </div>
    </div>
  </div>
  
</div>