<div class="container">
	<div class='profile'>
		<button class='btn2' ng-click="getUserSongs(id)">Songs!</button>
		<button class='btn2' ng-click="getUserShows(id)">Shows!</button>
		<button class='btn2' ui-sref=".tabs">Graphs</button>
		<h2>{{name}}</h2>

		<img src="{{pic}}"/>
		<!-- ng-if='Phish_username' add below -->
		<div>
			<h1>Please add your phish.net username and password</h1>
			<form ng-submit='submitPhishAccountDeets(id)' class='phish-deets'>
				<input type='text' ng-model='phishUsername' placeholder='Phish Username'>
				<input type='text' ng-model='phishPassword' placeholder='Phish Password'>
				<input type="submit" value="Submit now" />
			</form>
		</div>
	</div>
	
	<div class='d3 area'>
		<div ui-view></div>
	</div>
</div>