<div class="container">
  <p>HOME</p>

  <button ng-click='doIt()'></button>

  <div>
    <h1>Please sign in and stuff</h1>
    <form ng-submit='submitPhishAcountDeets(phishUsername)'>
      <input type='text' ng-model='phishUsername' placeholder='Username'>
      <input type="submit" value="Submit" />
    </form>
  </div>

  <h1>User Shows</h1>
  <ul>
    <!-- <li ng-repeat='show in userShows' ui-sref='show({showId: show.showid})'>{{show.showdate}}</li> -->
    <li ng-repeat='show in userShows' ui-sref='show({showId: show.showid})'>{{show}}</li>
  </ul>

</div>