<div class="container">
  <div class='user col-md-1'>
    {{user.name}}
    <br>
    <img ng-src="{{user.profilePic}}">
  </div>
  <div class='container__profilestats col-md-5'>
  <h1>Your Shows</h1>
  <div ng-show='showsLoading'>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
    <div ng-hide='showsLoading' class="list-group">
    <table class="table table-hover">
      <thead>
        <tr>
            <th>#</th>
            <th>Venue Name</th>
            <th>City</th>
            <th>State</th>
            <th>Date</th>
            <th>Elapsed Since</th>
        </tr>
     </thead>
     <tbody>
        <tr ng-repeat='show in userShows track by $index'>
            <th scope="row">{{$index + 1}}</th>
            <td>{{show.venuename}}</td>
            <td>{{show.city}}</td>
            <td>{{show.state}}</td>
            <td>{{show.nicedate}}</td>
            <td>{{show.relativetime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='container__profilestats col-md-4'>
  <h1>Your Songs</h1>
    <div ng-show='songsLoading'>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
    </div>
    <div ng-hide='songsLoading' class="list-group">
    <table class="table table-hover">
      <thead>
        <tr>
            <th>#</th>
            <th>Song</th>
            <th>Times Heard</th>
        </tr>
     </thead>
     <tbody>
        <tr ng-repeat='song in userSongs.data track by $index'>
            <th scope="row">{{$index + 1}}</th>
            <td>{{song[0]}}</td>
            <td>{{song[1]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>