<div class="profile-state">
  <div layout="column" layout-align="start start">
    
    <div flex="100" layout="row" layout-align="start start" layout-padding>
      <section>
        <form ng-submit="submitPhishAccountDeets(user.uid)">
          <md-input-container>
            <label>Phish.net Username</label>
            <input ng-model="phishNetUsername"></input>
          </md-input-container>
          <md-button type="submit">Submit</md-button>
        </form>
      </section>
    </div>

    <div flex="100" layout="row" layout-align="start start">
      
      <div flex="50" layout="column" layout-align="start start" layout-padding>
        <section>
        <h3>Your Shows</h2>
          <md-list>
            <md-list-item ng-repeat="show in userShows track by $index">
              <div flex layout='row' layout-align='start center'>
                <p flex="33">
                  <a ui-sref="show({date: song.performances[0].date})">{{ show.showdate | date:'MM/dd/yyyy' }}</a>
                </p>
                <p flex="33">{{ show.venuename }}</p>
                <p flex="33">
                  <span>{{ show.city }}, </span>
                  <span>{{ show.state }}<span ng-show="show.country !== 'USA'">,</span></span>
                  <span ng-show="show.country !== 'USA'">{{ show.country }}</span>
                </p>
              </div>
              <md-divider></md-divider>
            </md-list-item>
          </md-list>
        </section>
      </div>

      <div flex="50" layout="column" layout-align="start start" layout-padding>
        <section>
          <h3>Your Songs</h2>
            <md-list>
              <md-list-item ng-repeat="song in userSongs track by $index">
                <div flex layout='row' layout-align='start center'>
                  <p flex="50">{{song[0]}}</p>
                  <p flex="50">{{song[1]}}</p>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
        </section>
      </div>
    </div>

    <div flex="100" layout="row" layout-align="start start" layout-padding>
      <section>
        <shows-per-year all-shows="allShows" user-shows="userShows"></shows-per-year>
      </section>
    </div>
    
  </div>

</div>








<!-- <div class="profile-state">

<div class="col-md-12">
  <form ng-submit="submitPhishAccountDeets(user.uid)">
    <md-input-container>
      <label>Phish.net Username</label>
      <input ng-model="phishNetUsername"></input>
    </md-input-container>
    <md-button type="submit">Submit</md-button>
  </form>
</div>

  <div class='user col-md-1'>
    {{user.name}}
    <br>
    <img ng-src="{{user.profilePic}}">
  </div>
  <div class='profilestats col-md-5'>
  <h1>Your Shows</h1>
  <throbber loading='showsLoading'></throbber>
    <div ng-hide='showsLoading' class="list-group">
    <table class="table table-hover">
      <thead>
        <tr>
            <th>#</th>
            <th>Venue Name</th>
            <th>City</th>
            <th>State</th>
            <th>Date</th>
            <th>Elapsed Since</th>
        </tr>
     </thead>
     <tbody>
        <tr ng-repeat='show in userShows track by $index'>
            <th scope="row">{{$index + 1}}</th>
            <td>{{show.venuename}}</td>
            <td>{{show.city}}</td>
            <td>{{show.state}}</td>
            <td>{{show.nicedate}}</td>
            <td>{{show.relativetime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='profilestats col-md-5'>
  <h1>Your Songs</h1>
    <throbber loading='songsLoading'></throbber>
    <div ng-hide='songsLoading' class="list-group">
    <table class="table table-hover">
      <thead>
        <tr>
            <th>#</th>
            <th>Song</th>
            <th>Times Heard</th>
        </tr>
     </thead>
     <tbody>
        <tr ng-repeat='song in userSongs.data track by $index'>
            <th scope="row">{{$index + 1}}</th>
            <td>{{song[0]}}</td>
            <td>{{song[1]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->