<div class="show-container">
  <div class="container">

    <div class="show-info">
      <div class="date">
        <div>{{ showMonth }}</div>
        <div>{{ show.date.month() }}</div>
        <div>{{ show.date.year() }}</div>
      </div>
      <div>{{ show.tour_name }}</div>
      <div>{{ show.venue_name }}</div>
      <div>{{ show.location }}</div>
    </div>

    <div class="setlist">
      <div ng-repeat="set in setlist">
        <!-- <div>{{ set[0].set }}</div> -->
        <div ng-repeat="song in set">
          <span ng-show="$index === 0">{{ song.set }}</span>
          {{ song.title }}
        </div>
      </div>
    </div>

    <map class="map" token="mapboxToken" lng-lat="[show.longitude, show.latitude]"></map>

    <div class="tour-shows">
      <h3>Tour Shows</h3>
      <div ng-repeat="showThisTour in showsThisTour">
        <div>{{ showThisTour.date }}</div>
      </div>
    </div>

  </div>
</div>