<div class='container'>
  <ul>
    <li ng-repeat='show in shows' ui-sref="show({date: show.date})">{{show.date}}</li>
  </ul>

  <!-- <div class='scrollthing 'layout='column' flex='' layout-fill='' ng-cloak="">
    <md-toolbar md-scroll-shrink=''>
      <div class='md-toolbar-tools'>MESSAGE HERE</div>
    </md-toolbar>
    <md-content>
      <section>
        <md-subheader class='md-primary'>Thing1</md-subheader>
        <md-list>
          <md-list-item ng-repeat='show in shows.slice(0,10)'>{{show.date}}</md-list-item>
        </md-list>
      </section>
      <section>
        <md-subheader class='md-primary'>Thing2</md-subheader>
        <md-list>
          <md-list-item ng-repeat='show in shows.slice(10,20)'>{{show.date}}</md-list-item>
        </md-list>
      </section>
    </md-content>
  </div> -->

</div>