<div class="shows-container">
  
  <div class="shows-search">
    <ul>
      <li ng-repeat="show in showSearchList track by $index" ng-click="selectShow($event, show)">
        <span>{{ show.date | date: 'M/dd' }}</span>
        <span>{{ show.location }}</span>
      </li>
    </ul>  
  </div>

  <div class="shows-list">
    <!-- <ul infinite-scroll="loadMoreShows()" infinite-scroll-distance="2"> -->
    <ul infinite-scroll="loadMoreShows()" infinite-scroll-distance="2">
    <!-- <ul infinite-scroll="loadMoreShows()"> -->
      <li ng-repeat="show in showList track by $index">
        <show show="show"></show>
      </li>
    </ul>
  </div>

</div>



<!-- <div class="shows-container">

  <div class="top-container">
    <map token="mapboxToken"></map>
  </div>

  <div class="container">
    <div class="show-items" infinite-scroll="loadMoreShows()" infinite-scroll-distance="2">
      <div class="show-item" ng-repeat="show in showList track by $index">
        <show-box show="show"></show-box>
      </div>
    </div>
  </div>
  
</div> -->