<div class='container shows-container'>
  <p>{{shows[50]}}</p>
  <button ng-click='doIt()'></button>


  <!-- TRYING TO DO: http://codepen.io/pen/?editors=1010 -->

  <div class='wrapper'>
    <md-input-container>
      <md-select ng-model='selectedYear' aria-label='Select a Year'>
        <md-option ng-value='$index' ng-repeat='year in allYears'>{{year}}</md-option>
      </md-select>
    </md-input-container>

    <!-- <ul class='show-list' scroll-to>
      <li ng-repeat='show in shows' ui-sref="show({date: show.date})">
      <div class='year-header' ng-show='checkforNewYear($index, $index-1)'>{{show.date.slice(0,4)}}</div>
      {{show.date}}
      </li>
    </ul> -->

    <md-content>
      <md-list class='md-dense show-list' flex="" scroll-to>
        <md-subheader class="md-no-sticky">Thing</md-subheader>

        <md-list-item class="md-2-line" ng-repeat="show in shows" ui-sref="show({date: show.date})">
          <div class="md-list-item-text" layout="column">
            <h3>{{ show.date }}</h3>
            <!-- <h4>{{ getVenuebyId(show.venue_id) }}</h4> -->
            <p>{{ show.id }}</p>
          </div>
        </md-list-item>

      </md-list>
    </md-content>

  </div>

</div>