<div class='song-container'>

  <div flex="100" layout="row" layout-align="center start">

    <!-- <section flex="50">Test1</section> -->
    <!-- <section flex="50">Test2</section> -->

    <section flex="50">
      <h1>{{song.title}}</h1>
      <p>Debut: {{song.performances[0].date | date:'MM/dd/yyyy'}}</p>
    </section>

    <!-- <section flex="50">
      <bar-chart data='playsPerYear'></bar-chart>
    </section> -->
    <section flex="50">
      <song-lengths-per-year data='lengthsByYear'></song-lengths-per-year>
    </section>
  </div>

  <div flex="100" layout="row" layout-align="center start">
    <section flex="50">
      <plays-per-year data='playsPerYear'></plays-per-year>
    </section>
    <section flex="50">Test4</section>
  </div>

  <div flex="100" layout="row" layout-align="center start">
    <section flex="33">Test5</section>
    <section flex="33">Test6</section>
  </div>


    <!-- <div> -->
      <!-- <h3>Performances</h3> -->
      <!-- <md-list>
        <md-list-item ng-repeat='performance in song.performances' ng-dblclick='play(performance)' ng-mouseenter='hoverIn()' ng-mouseleave='hoverOut()'>
          <div class='md-list-item-text' layout='column'>
            <div flex layout='row' layout-align='space-between center'>
              <p flex='33'>
                <md-icon ng-show='currentSong.id === performance.id' class="current-song-icon material-icons">volume_mute</md-icon>
                <span ui-sref='show({date: performance.date})'>{{performance.date | date:'MM/dd/yyyy'}}</span>
                <span ng-show='hover'>
                  <md-button ng-click='upNext(performance)'>
                    <md-icon class="material-icons">playlist_play</md-icon>
                  </md-button>
                  <md-button ng-click='addToUpNext(performance)'>
                    <md-icon class="material-icons">playlist_add</md-icon>
                  </md-button>
                </span>
              </p>
              <p flex='33'>{{performance.venue_name}}</p>
              <p flex='33' class='pull-right'>{{performance.location}}</p>
            </div>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list> -->
    <!-- </div> -->


</div>