<div class='songs-state'>Songs

  <!-- <md-input-container>
    <label>Song</label>
    <input ng-model='songFilter'></input>
  </md-input-container>

  <md-list>
    <md-virtual-repeat-container>
      <md-list-item md-virtual-repeat='song in songs' ng-click='null' ui-sref='song({songId: song.id})' md-on-demand='' aria-label='goToSong' ng-mouseenter='showMap=true' ng-mouseleave='showMap=false'>
        <div class='md-list-item-text' layout='column'>
          <div layout='row' layout-align='space-between center'>
            <p>{{song.title}}</p>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-virtual-repeat-container>
  </md-list> -->

</div>